body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-titles {
  position: absolute;
  height: 80px;
  left: 5.17%;
  right: 69.03%;
  top: 416px;
  color: #ffffff;
  font-size: 3.5rem;
}
.img-fluid {
  height: 480px !important;
  /* width: 100% !important; */
  top: -1px;
  left: -1px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff !important;
  background-clip: none !important;
  border: none !important;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-gray {
  border-radius: 36.25rem !important;
  color: black !important;
  background: #ededed !important;
  border: #ededed !important ;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 7px;
}

.btn {
  border-radius: 36.25rem !important;
}
/* .btn-outline-successt:hover {
  color: #fff;
  background-color: #f8f9fa !important;
  border-color: #28a745;
  color: #28a745 !important;
} */

.flex {
  position: relative;
  display: inline-flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-left: 30px;
}

.navbar-brand {
  display: flex;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 30px;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #ffffff !important;
}

button:focus {
  outline: 0px dotted;
  outline: -32px auto -webkit-focus-ring-color;
}

/* .ml-auto {
  margin-left: 264px !important;
}

.mt-auto {
  margin-top: -10px !important;
} */

.card-overlay {
  background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.card:hover .card-overlay {
  display: flex;
}
.card-likes {
  width: 100%;
  margin: 5px;
}
.card-comments {
  width: 100%;
  margin: 5px;
  font-weight: bold;
  /* text-align: center;
  display: inline-block; */
}
@media screen and (max-width: 768px) {
  .card-list {
    grid-gap: 3px;
  }
}

.icon {
  position: absolute;
  top: 21px;
  right: 11px;
}

.ml-auto {
  margin-left: 64px !important;
}

.footer {
  /* position: relative; */
  display: flex;
  background: linear-gradient(180deg, rgba(10, 212, 250, 0.86) 0%, rgba(37, 187, 241, 0.86) 100%);
  width: 100%;
  height: 200px;
  bottom: 0;
}

.footer-higth {
  min-height: calc(100vh - 100px);
}

.border-top {
  border-top: 1px solid white;
}

.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.br {
  border-right: 1px solid #d9d9d9 !important;
}

.bt-1 {
  border-bottom: 1px solid #d9d9d9 !important;
}

.nav-mr {
  display: block;
  padding: 0.5rem 1rem;
  margin-left: 24rem !important;
}

.nav-bg {
  background-color: #f8f9fa !important;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
  border-radius: 36.25rem !important;
  color: #fff !important;
  background: #0ad4fa !important;
  border: #0ad4fa !important;
}

/* .nav-link.active {
  border-bottom: solid 2px #f50057 !important;
} */
.collapse:not(.show) {
  display: contents;
}

.navbar-light .navbar-nav .nav-links {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-expand-lg .navbar-nav .nav-links {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.nav-links {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-link:focus,
.nav-links:hover {
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-links:focus,
.navbar-light .navbar-nav .nav-links:hover {
  color: rgba(0, 0, 0, 0.7);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-item:active {
  color: #495057 !important;
  text-decoration: none;
  background-color: #f8f9fa !important;
}

.btn-primary {
  background: #0ad4fa !important;
  border: #0ad4fa !important;
}

.icon-con {
  position: absolute;
  right: 16px;
  top: 22px;
  background: #616161;
  border-radius: 44px;
  opacity: 0.8;
  mix-blend-mode: normal;
  margin-left: 3px;
  padding: 0.2rem 0.75rem !important;
}

.flex {
  position: relative;
  display: inline-flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 1rem; */
  margin-left: 161px;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  margin-top: -300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toast-buttons {
  display: flex;
}

.toast-buttons button {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  border: none;
  outline: none;
}

.select {
  display: flex;
  width: 30%;
  margin-top: 10px;
}

.position-select {
  background-color: inherit;
  color: #fff;
  width: 100%;
  height: 30px;
  font-size: 16px;
}

.success {
  background-color: #5cb85c;
}

.danger {
  background-color: #d9534f;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}

.css-1jgv6z-ToastContainer {
  box-sizing: border-box;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 8px;
  position: fixed;
  z-index: 2000 !important;
  top: 0;
  right: 0;
}

.width-img {
  width: 30px;
}

.marg-auto {
  margin-top: -3px !important;
}

.navbar-position {
  display: flex !important;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  align-items: center !important;
  z-index: 1000 !important;
}

@media (max-width: 767px) {
  .main-page {
    margin-top: 140px;
  }
}
@media (min-width: 767px) {
  .main-page {
    margin-top: 70px;
  }
}

/* .main-page { */
/* margin-top: 70px; */
/* min-height: calc(100vh - 70px) !important; */
/* } */

a:hover {
  text-decoration: none !important;
}

.style {
  background: #f8f9fa;
  border: none;
}

/* .ml-auto {
  margin-left: 165px!important;
} */
