body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title {
  position: absolute;
  height: 80px;
  left: 9.17%;
  right: 69.03%;
  top: calc(50% - 80px / 2 + 118px);
  color: #ffffff;
}
.img-fluid {
  height: 480px !important;
  top: -1px;
  left: -1px;
}
